
/**
* Mixins
*/

/**
* Mixin - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700



/**
* Mixin - Viewport
*/
viewport = 1160px


/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xxs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px


/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container
  min-width: 0
  max-width: viewport
  margin 0 auto
  width: auto


/*
* Base
* Estilo base do elementos do Html
*/
html
  background #FFFFFF

body
  font-family $font-family_1


/*
* Components
* Componentes que se adaptam ao contexto
*/

.breadcrumb
  & ul li.first a
    font-size $font-small
    color #b5b5b5!important
    text-transform capitalize

    &:before
      display none
  
  & ul li
    font-size $font-small
    color #b5b5b5

    & a
      color #b5b5b5

  &__last
    font-weight normal

/*
* Component - Menssagens
*/
.messages
  > li
    display block
    padding 10px 20px
    margin-bottom 20px
    font-size 14px
  .success-msg
    border 1px solid #2baf60
    background #c8efc0
    color #1d904b
  .error-msg
    border 1px solid #d92100
    background #ffdcdc
    color #d92100
  .notice-msg
    border 1px solid #f7be07
    background #f9f0d5
    color #f7be07

/*
* State
* Estado global do Layout
*/

/*
 * Header
 * --------------- */

.header-container.scrolled 
  box-shadow 0 0 15px rgba(0, 0, 0, .25)
  transition all .5s

.header-container
  box-shadow none
  transition all .5s
  @media(max-width: screen-md)
    background #ffffff

  &:not(.cms-home)
    border-bottom 1px solid #f5f5f5

.header
  padding-top 0
  padding-bottom 0

  @media(max-width screen-md)
    padding-top 5px
    padding-bottom 5px

    & .logo
      position absolute
      left 15px
      order 1

      & .m-img
        width 100px
        height auto

    & button.categories__show
      order 6
      background none
      margin 0 0 0 10px
      color unquote($color2_bg)
    
    & .search.busca_topo
      order 2

    & a.btn-blog__topo
      order 3

    & .myaccount
      order 4

      & a
        background none!important

    & .mycart
      order 5

      & a
        /*background none!important*/

  @media(max-width screen-xs)
    & button.categories__show
      margin 0

    & .search.busca_topo.on
      & .search__form
        & .input-box
          top 55px
          box-shadow 0 10px 15px rgba(0, 0, 0, 0.15)

          & .search__hide
            position absolute
            top 0
            right 15px
            padding 14px 7px
            color #626262

          & .search__input
            height 43px
            color #626262
            background #e1e1e1
            margin 0
            border-radius 0!important
            padding 0 5px

            &::placeholder
              color #626262
              padding 0 10px

    & .search.busca_topo
      position relative !important
      top auto !important
      width 44px!important
      height 44px!important
      flex 0 0 auto!important
      order 5
      margin 0!important

      & .search__form
        width fit-content
        margin 0 auto!important

        & .search__button
          position relative
          right auto
          padding 12px 0!important

    & a.btn-blog__topo
      order 2

    & .myaccount
      order 3
      margin-left 15px

      & .myaccount__header
        & a
          overflow visible

    & .mycart
      order 4

  @media(max-width screen-md) and (min-width screen-xs)
    & .search.busca_topo 
      position absolute
      top 54px
      width 100%

      & .search__form
        max-width none

        & .input-box
          & input.search__input
            height 30px
            margin 0
            border-radius 0!important
            background #e1e1e1

        & .search__button
          padding 7px 0.69rem


.header nav#menu_categorias 
  background none

 .categories--mobi
    @media(max-width: screen-md)
      background #15000a!important

      & .categories__hide.btn--close
        width 100%
        height 75px
        position sticky
        top 0
        border-radius 0
        z-index 999
        margin 0 auto!important
        background linear-gradient(180deg, #FFA9A9 0%, rgba(255, 169, 169, 0) 100%)

        &:before
          margin-top -7px

        & span
          display block
          font-size 12px
          text-transform lowercase

      & .ul--0
        display block

        & .li--0
          display block
          position relative!important
          top auto!important
          left auto!important

          & .a--1
            position relative
            font-size 1rem
            line-height 1.2rem
            font-weight 600
            letter-spacing 1px
            color #fff !important
            margin-bottom 15px
            padding 15px 0 5px

            &:before
              content ""
              display block
              position absolute
              top 0
              left 0
              width 100%
              height 1px
              background #ffa9a9

          & .ul--2
            margin-bottom 15px

            & .li--2
              & .a--2
                font-size 16px
                line-height 1.2rem
                text-transform capitalize
                padding 8px 0
                color #c5c5c5 !important

          &:hover
            & .box--1
              position relative!important
              width auto!important

              & .ul--1
                display block!important
                max-width 360px!important
                max-height none!important
                min-height unset!important
                text-align center!important

          & .ul--1
            margin 0 auto
            display block
            max-width 360px
            max-height none
            text-align center


  & ul li a 
    font-family $font-family_1
    font-size $font-small
    line-height 1.1em
    letter-spacing .5px
    text-transform uppercase
    color unquote($color2_bg)!important

.header nav.categories
  margin 0 !important

  & ul li.li--0
    padding 20px 0

    & .a--1
      padding 0 0.5rem

    & .ul--1
      & .li--1
        & .a--1, .a--2
          font-size 13px
          line-height 1.2em
          padding-bottom 5px

          &:hover
            box-shadow none

  & ul li.li--0:hover a.a--0
    background none
    border-bottom 2px solid unquote($color1_bg)
    color unquote($color1_bg_hover) !important

    &:after
      content ""
      position absolute
      bottom 15px
      border-left 5px solid transparent
      border-right 5px solid transparent
      border-top 5px solid unquote($color1_bg)

  & ul li.li--0:hover .box--1
    transform unset
    width 100vw
    box-sizing border-box
    position fixed
    z-index 999999
    top 84px
    left 0
    box-shadow none
    filter drop-shadow(0 30px 15px rgba(0, 0, 0, 0.15))

  & ul li.li--0:hover .box--1 ul.ul--1
    max-width 1024px
    width 100%
    min-height 400px
    margin 0 auto
    display flex
    flex-direction row
    justify-content space-evenly
    overflow hidden

.header form.search__form
  max-width 400px
  margin auto 0 auto auto

.header .search input.search__input 
  border none
  box-shadow none
  border-bottom 1px solid #ebebeb
  height 22px
  margin 0 1rem

  &::placeholder 
    font-family $font-family_1
    font-size $font-small
    line-height 1.1em
    font-style italic
    color #b5b5b5
    padding-bottom 5px
    padding-left 7px
  
  &::placeholder-shown
    border-bottom 1px solid unquote($color1_bg_hover)
    
.header .search .search__button
  position absolute
  right 5px
  bottom 0
  background none
  box-shadow none
  padding 8px 11px

  & .ico
    fill #626262
    width 1.1rem
    height 1.1rem
  
.header a.btn-blog__topo
  background unquote($color2_bg)
  padding 6px 8px
  border-radius unset
  font-size $font-small
  line-height 1em
  text-transform uppercase
  letter-spacing .5px

.header .myaccount
  display flex
  justify-content center
  align-items center
  width 35px
  height 35px

  &:hover
    & .myaccount__header a
      background none

  &__header
    display flex
    justify-content center
    align-items center
    width 30px
    height 30px

    & a
      background none

  & a
    position relative
    display block
    width 35px
    height 30px
    padding 4px
    box-shadow none
    border-radius 0

  & a:hover
    background none
  
  & .ico
    width 30px
    height 30px

.header .mycart 
  margin-left 0

  & .mycart__header a
    background none!important

  &:hover .mycart__header a
    background none

  & a
    box-shadow none
    border-radius 0

  & a:hover
    background none
    color #626262

  & .ico
    fill #626262
    width 22px
    height 22px
  
  & .qtd
    top 5px
    right 0
  
  & .mycart__content
    box-shadow inset 0 0 0 transparent, inset 0 0 0 0px rgba(0,0,0,0.1), 0 1rem 1rem rgba(0,0,0,0.1)
    @media(max-width screen-md)
      & .mycart__hide
        background unquote($color2_bg)

    & .title
      display none

    & .mycart__item .mycart__details
      display: flex;
      flex-direction: column-reverse;

      & .mycart__name
        order 1
      
      & .price
        font-family $font-family_1
        font-size $font-regular
        line-height 1.1em
        letter-spacing .5px
        font-weight 600
        color unquote($color2_bg)
        margin-bottom 15px
      
      & .mycart__qtd
        font-family $font-family_1
        font-size $font-regular
        line-height 1.1em
        color #525252

        & a
          font-family $font-family_1
          font-size $font-regular
          line-height 1.2em
          text-transform uppercase
          color #626262

    & .mycart__item
      border-bottom 1px solid rgba(0, 0, 0, .1)

    & .mycart__item .truncated
      display none

    & .mycart__item .mycart__remove:before
      content ""
      position absolute
      top 0
      left 5px
      display block
      background url($close-icon)
      background-repeat no-repeat
      background-position center
      background-size contain
      width 17px
      height 17px

  & .mycart__totals
    display flex
    flex-direction row
    justify-content space-between
    align-items center

    & .title
      display block
      margin-bottom 0

      & span
        font-family $font-family_1
        font-size 14px
        line-height 1.1em
        color #8a8a8a
    
    & .regular-price
      font-family $font-family_1
      font-size $font-regular
      line-height 1.1em
      letter-spacing .5px
      font-weight 600
      color unquote($color2_bg)

      & .label
        display none
    
    & .price-box-avista, .price-box-parcelado
      display none

  & .mycart__actions 
    & .editar
      display none

    & .finalizar
      background unquote($color2_bg)
      color unquote($color2_font)
      font-family $font-family_1
      font-size $font-regular
      line-height 1.1em
      font-weight 400
      letter-spacing .8px
      text-transform uppercase
      text-align center
      margin 7px 15px

.header .myaccount
  & .myaccount__content
    box-shadow 0 1rem 1rem rgba(0, 0, 0, 0.15)

    & .myaccount__hide
      background unquote($color2_bg)

    & .title
      font-size $font-regular
      line-height 1.2em
      text-transform uppercase
      text-align center

    & .myaccount__login
      & input 
        box-shadow none
        border-radius 0
      
      & .fields
        flex-flow column nowrap

        & .input-box
          width 100%

          & .myaccount__forgot
            top auto 
            left auto
            width 100%
            color #949494
            text-decoration underline

        & .myaccount__login-btn
          width 100%
          background unquote($color2_bg)
          color #FFFFFF
          font-family $font-family_1
          font-size $font-regular
          line-height 1.1em
          font-weight 400
          letter-spacing 0.05rem
          text-transform uppercase
          text-align center
          box-shadow none 
          border-radius 0

    & .myaccount__register
      & .myaccount__register-btn
        width 100%
        height 41px
        background unquote($color2_bg)!important
        color #FFFFFF
        font-family $font-family_1
        font-size $font-regular
        line-height 1.1em
        font-weight 400
        letter-spacing 0.05rem
        text-transform uppercase
        text-align center
        box-shadow none 
        border-radius 0
        padding 0.875em 1em
/*
 * Banner (Home)
 * --------------- */
.cms-home .banner
  margin -3.3rem -1rem 1rem !important

  & .home-banner
    width 100vw
    @media(max-width screen-md)
      margin-top 45px

    & img.d_img
      width inherit
      height 100%
      position relative
      top unset
      left unset
      transform none
      box-shadow -980px 0 0 #efebe8, 980px 0 0 #efebe8
      margin 0 auto
      @media (min-width: 1920px)
        width auto
  
    & a.banner__link:hover
      opacity 1

/*
 * Banner Estilos (Home)
 * --------------- */

.wrapper
  .title.title-estilo
    width 100%
    display block
    font-family $font-family_3
    font-size $font-xlarge
    line-height 1.2em
    color unquote($color2_bg)
    text-align center
    margin 2rem 0 2rem

  #banner__home-estilos
    max-width 1380px
    margin 0rem auto 2rem !important

    & .banner__wrapper
      @media(max-width screen-lg)
        flex-flow row wrap
        justify-content center

      @media(max-width screen-sm)
        flex-flow column nowrap

      & [class*="estilo_"]
        @media(max-width screen-lg)
          max-width unset
          width 100%
          margin 0 0.63rem 15px
          flex 0 0 23.333%

  & .banner__wrapper
    display flex
    flex-direction row
    align-items center
    justify-content space-between

    & a[href^="javascript:void(0);"]
      display none

    & [class*="estilo_"]
      max-width 260px
      width 100%
      margin 0 10px

  & .banner-estilos
    position relative
    display flex
    justify-content center
    height 100%
    cursor pointer
  
    & .title
      position absolute
      display flex
      flex-direction column
      justify-content center
      align-items center
      font-family $font-family_1
      font-size $font-large
      line-height 1.1em
      font-weight 400
      text-transform uppercase
      letter-spacing .8px
      color unquote($color2_font)
      margin 0
      height inherit

      &:after
        content ""
        display block
        width 100%
        height 1px
        background unquote($color2_font)

    & a.banner__link
      width 100px
      height 40px
      top unset
      bottom 20px
      left unset
      /*background unquote($color2_font)*/
      background-image linear-gradient(90deg, #FFFFFF 50%, #FFA9A9 50%)
      background-size 200%
      transition all .4s
      font-family $font-family_1
      font-size $font-regular
      line-height 1.2em
      font-weight 400
      text-transform uppercase
      letter-spacing .8px
      color unquote($color2_bg)
      text-align center
      border-radius 0
      padding 12px
      box-shadow none
      opacity .85

      &:hover
        background-position 100%
        transform translateY(-.25rem)
        color unquote($color2_font)
        opacity 1

  & .home-content-banner
    margin 4rem 0 1rem 0

    & img.d_img
      width 100vw

    & a.banner__link:hover
      opacity 1

/*
 * Produtos (Home/Catálogo)
 * ------------------------ */
.main
  .products
    & .products__title
      width 100%
      display block
      font-family $font-family_3
      font-size $font-xlarge
      line-height 1.2em
      font-weight 400
      color unquote($color2_bg)
      text-align center
      margin 0 0 2rem

    & ul.ul--0.products__list
      @media(max-width 1024px)
        max-width 768px
        margin 0 auto
      
      @media(max-width screen-xs)
        flex-flow column wrap

      & .li--0
        flex 0 1 25%
        @media(max-width 1024px)
          flex 0 1 50%

        &:empty
          display none

        & .products__case
          background none
          box-shadow none

          & .product-link
            position relative
            display flex
            justify-content center

            &:hover .btn-cart
              display block
              bottom 0
              max-width 260px
              width 100%
              font-family $font-family_1
              font-size $font-small
              line-height 1.2em
              font-weight 400
              text-transform uppercase
              letter-spacing .5px
              background unquote($color2_bg)
              border-radius 0
              box-shadow none

            & .btn-cart
              display none
              position absolute
              bottom -50px

          & .product__main
            padding 10px 35px
            @media(max-width screen-xs)
              padding 30px 15px

            & .configurable-swatch-list
              justify-content center
              margin 15px 0 10px

              & li a
                box-shadow none

                & img
                  border-radius 50%

              & li.selected a
                border 1px solid #868686
                border-radius 50%
                padding 1.4px
                background none

              & li.selected:not(.is-media) a
                border 1px solid #ccc
                border-radius 2px
                padding 0 5px

                & span
                  color unquote($color2_bg)
            
            & .product__name
              font-family $font-family_1
              font-size $font-regular
              line-height 1.2em
              text-transform uppercase
              text-align center
              color #626262
              @media(max-width screen-xs)
                height unset

              &:after
                display none

            & .preco-total--avista
              display flex
              justify-content center
              align-items center

              & div[class*="price-box"]
                & span.label
                  display none
              
              & .price-box
                margin-bottom 5px

                & .regular-price
                  margin-right 6px

                & .price
                  font-family $font-family_1
                  font-size 13px
                  line-height 1.2em
                  text-transform uppercase
                  text-align center
                  text-decoration line-through
                  color #959595

              & .price-box-avista
                font-family $font-family_1
                font-size $font-medium
                line-height 1.2em
                text-transform uppercase
                text-align center
                color unquote($color2_bg)
                margin-bottom 5px
                @media(max-width screen-xs)
                  display block

                & .price
                  & span 
                    font-size 16px

            & .price-box-parcelado
              @media(max-width screen-xs)
                display block

              & .preco-parcelado-sem-juros
                display none

              & .preco-parcelado
                text-align center
              
                & span
                  font-family $font-family_1
                  font-size 13px
                  line-height 1.2em
                  font-weight normal
                  text-align center
                  color #959595

                & .juros
                  display none

            & .esgotado
              color unquote($color2_bg)
              text-align center

/*
 * Banner Inspire-se! (Home)
 * --------------- */

.title.title-inspirese
  width 100%
  display block
  font-family $font-family_3
  font-size $font-xlarge
  line-height 1.2em
  color unquote($color2_bg)
  text-align center
  margin 2rem 0 3rem

#banner__banner-inspirese
  margin 0 0 3rem!important

  & .banner__wrapper
    display flex 
    justify-content space-evenly
    @media(max-width screen-sm)
      flex-flow column nowrap

    & .banner__item
      max-width 360px
      margin 0 10px
      @media(max-width screen-sm)
        margin 25px 10px

      & .banner-inspirese
        & .title
          display block !important
          font-family $font-family_1
          font-size 14px
          line-height 1.2em
          text-transform uppercase
          text-align center
          margin-top 15px

        & p
          display block !important
          font-family $font-family_1
          font-size 14px
          line-height 1.2em
          text-align center
          color #626262

/*
 * Banner Newsletter! (Home)
 * ------------------------- */

.banner-home_newsletter
  position relative
  max-width 1440px
  margin 0 auto
  max-height 450px
  display flex
  justify-content space-evenly
  align-items center
  background #ebeae5
  box-shadow -980px 0 0 #ebeae5, 980px 0 0 #ebeae5
  margin-bottom 0!important
  @media(max-width 1024px)
    margin 0 -1rem

  @media(max-width screen-md)
    max-height none
    flex-flow column nowrap
    padding 40px 0
    box-sizing content-box

  & .about_us
    max-width 400px
    padding 35px
    background #fff
    box-shadow 0 0 25px rgba(0, 0, 0, .2)
    text-align center
    @media(max-width screen-lg)
      margin 15px 0
      padding 35px 15px

    @media(max-width screen-md)
      margin 30px 0

    @media(max-width 425px)
      max-width 95%

    & img 
      margin-bottom 15px

    & p
      font-family $font-family_4
      font-size 14px
      line-height 1.2em
      text-align justify
      padding 0 25px
      color #626262

  & img.girl__img
    @media (max-width screen-lg)
      position absolute
      max-height 350px
      width auto
      bottom 0
      right -70px
      filter saturate(.7)
      opacity .6
    
    @media (max-width 1024px)
      display none

  & .newsletter__home
    max-width 500px
    padding 0 20px
    text-align center
    @media (max-width: screen-lg)
      padding 0 70px
      z-index 1

    & .newsletter__title
      display block
      font-family $font-family_3
      font-size $font-xxlarge
      font-weight 400
      letter-spacing 1px
      line-height 1.1em
      text-transform lowercase
      color unquote($color2_bg)
      margin-bottom 15px

    & p.newsletter__desc
      display block
      font-family $font-family_4
      font-size 14px
      line-height 1.2em
      letter-spacing 1px
      text-transform uppercase
      color #626262
      margin-bottom 35px
    
    & form.newsletter__form
      flex-flow column wrap
      margin 0

      & .newsletter__email
        width 100%
        flex 1 1 100%
        margin-bottom 35px

        & input.input-email
          height 30px
          line-height 14px
          border-radius 0
          box-shadow none
          border none
          border-bottom 1px solid #b5b5b5
          background none
          text-align center

          &::placeholder
            font-family $font-family_1
            font-size $font-small
            letter-spacing .5px
            text-align center
            color #626262

      & .newsletter__submit
        & .newsletter__btn
          font-family $font-family_1
          font-size $font-regular
          line-height 1.2em
          text-transform uppercase
          letter-spacing .5px
          background unquote($color2_bg)
          border-radius 0
          box-shadow none

/*
 * Redes Sociais (Home)
 * -------------------- */

& .newsletter__social
  width 100vw
  height 50px
  display flex
  flex-direction row
  justify-content center
  align-items center
  background #fff2ef
  box-shadow -980px 0 0 #fff2ef, 980px 0 0 #fff2ef
  @media(max-width 1024px)
    margin 0 -1rem

  & .news-social__title
    font-family $font-family_3
    font-size $font-xlarge
    line-height 1.2em
    color unquote($color2_bg)
    margin 0 30px 2px 0

  & .news-social__icons
    width 120px
    display flex
    align-items center
    justify-content space-between

    & a
      height 28px

      [class*="ico__"]
        width 28px
        height 28px

/*
 * Footer
 * ------------- */

.footer-container
  background #FFFFFF
  margin 0
  padding 25px 0
  @media(max-width screen-xs)
    & .flex
      flex-flow column nowrap

  [class*="footer__"]
    @media(max-width screen-xs)
      margin-bottom 25px!important

    & .title
      font-family $font-family_1
      font-size $font-regular
      line-height 1.2em
      font-weight 600
      text-transform uppercase
      color unquote($color2_bg)
      opacity 1
    
    & nav ul li a
      font-family $font-family_1
      font-size 14px
      line-height 1.2em
      font-weight 400
      text-transform capitalize
      color #626262!important

  & .footer__contact
    & nav ul.ul--0 li
      margin-bottom 16px

    & .horario
      & p
        font-family $font-family_1
        font-size 14px
        line-height 1.2em
        font-weight 400
        color #626262
        margin 0

  & .footer__payments
    & img
      max-width 210px

  & .footer__certificates
    & img 
      max-width 120px


/*
 * Página do Produto - (Simples/Agrupado)
 * ------------- */
.catalog-product-view
  & .wrapper-container
    @media(max-width screen-xs)
      padding-top 75px

  & #messages_product_view
    display none

  @media(max-width screen-md)
    & #product_addtocart_form
      flex-flow column

  & .prod__img
    flex 0 0 60%
    @media(max-width viewport)
      flex none
      width 50%

    @media(max-width screen-md)
      max-width 568px
      width 100%
      margin 0 auto

    & .product-image-container
      display flex
      flex-direction row-reverse

      & .product-image
        width 750px
        height 600px
        @media(max-width screen-md)
          height auto
          margin-bottom 20px

        & .product-image-gallery
          box-shadow none

          & img
            width 90%

      & .more-views
        & .product-image-thumbs
          flex-flow column

          & li a
            box-shadow none

  & .prod__shop
    display flex
    flex-flow column nowrap
    flex 1 1 auto
    @media(max-width screen-md)
      max-width 568px
      width 100%
      margin 0 auto

    & [class^="prod__"]:not(:last-child)
      padding-bottom 5px
      margin-bottom 15px
      border-bottom 1px solid #f1f1f1

    & .prod__name
      margin 0 0 15px

      & h1
        font-size $font-regular
        line-height 1.2em
        text-transform uppercase
        color unquote($color2_bg)
        margin 0 0 10px

      & .prod__attr
        display flex
        align-items center
        justify-content space-between

        & .sku
          color #626262

        & .whishlist
          display flex
          align-items center
          justify-content center

          & .icon-heart-o
            font-size 14px
            margin-right 5px
            color #626262

          & a.link-wishlist
            font-size $font-small
            line-height 1.2em
            color #626262

    & .prod__price
      margin 0 0 15px

      & [class^="price-box"] .label 
        display none

      & .price-box, .price-box-avista
        display inline-block
        margin-bottom 2px

      & .price-box
        margin-right 5px

        & .price
          font-size 14px
          font-weight 400
          color #a3a3a3

          &:after
            content ""
            display block
            position relative
            top -9px
            left -1px
            width 105%
            height 2px
            background rgba(163, 163, 163, .5)

      & .price-box-avista
        & .price
          font-size 18px
          font-weight 600
          color unquote($color2_bg)

      & .price-box-parcelado
        & .preco-parcelado-sem-juros
          display none

        & span
          font-size 13px
          color #a3a3a3
          font-weight normal
        
        & .juros
          display none

    & .prod__description
      margin 0 0 15px

      & .desc-title
        display block
        font-size $font-regular
        line-height 1.2em
        font-weight 400
        text-transform uppercase
        color unquote($color2_bg)
        margin-bottom 10px

      & .prod__short-desc
        padding 0 0 8px

        & .std
          font-size $font-regular
          line-height 1.4em
          color #626262

    & .prod__variation
      & .configurable
        &:before
          display none

        & .configurable__option
          flex 1 1 auto
          min-width auto

        & .configurable__caption label
          font-size $font-small
          line-height 1.2em
          font-weight 600
          color #8a8a8a

        & ul#configurable_swatch_color
          & li:not(.is-media) a
            border-radius 2px
            font-size $font-regular
            line-height 1.5em
            font-weight 400
            padding 0 5px
            color #8a8a8a
            box-shadow 0 0 0 1px #f2f2f2

          & li.selected:not(.is-media) a
            border-radius 0
            font-size $font-regular
            line-height 1.5em
            font-weight 400
            padding 0 5px
            color #f2f2f2
            background #8a8a8a
            box-shadow 0 0 0 1px #f2f2f2

          & a.swatch-link
            border-radius 50%
            min-width auto

            &:hover
              box-shadow 0 0 0 3px #F2F2F2
              background #F2F2F2

            & img
              width 35px
              height 35px
              border-radius 50%

          & .selected a
            box-shadow 0 0 0 1px #8a8a8a
            padding 2px
            background none
            color #F2F2F2
        
        & ul#configurable_swatch_tamanho
          & a.swatch-link
            display flex
            align-items center
            justify-content center
            min-width auto
            width 35px
            height 35px
            box-shadow 0 0 0 1px #dcdcdc
            border-radius 50%

            &:hover
              background unquote($color2_bg)

              & .swatch-label
                color #fff

            & .swatch-label
              font-size $font-regular
              line-height 1.2em
              font-weight 600
              color unquote($color2_bg)

          & .selected a
            box-shadow 0 0 0 1px #8a8a8a
            padding 2px
            background unquote($color2_bg)

            & .swatch-label
              color #f2f2f2

      & .grouped
        & .grouped__option
          flex auto
          box-shadow inset 0 0 0 1px #f2f2f2
          padding 10px

          & .grouped__caption
            position absolute
            left 133px
            opacity 1

            & .txt
              font-family $font-family_1
              font-size $font-regular
              line-height 1.2em
              color unquote($color2_bg)

          & .grouped__content
            & .grouped-images
              max-height unset
              width 100px
              height 120px
              margin-right 1rem
              flex 0 0 auto
              display flex

              & img
                margin 0

            & .grouped-price-box
              flex 0 0 auto
              margin -3rem 0 0 8px

              & .regular-price
                & span
                  font-family $font-family_1
                  font-size $font-small

                & .label
                  color unquote($color2_bg)

                & .price span 
                  font-size 13px
                  font-weight 600

            & .product-options
              margin-left 124px
              float right
              margin-top -4rem

              & .product-configurable-grouped .grouped-option
                margin-right 10px

              & .product-configurable-grouped
                display flex
                flex-flow row

                & .grouped-option-title
                  display block
                  font-size 13px
                  color #626262
                  margin-bottom 5px

                  & .required
                    display none

                & select 
                  height 35px
                  box-shadow none
                  border-radius 0
                  border 1px solid #cccccc

            & .qty-holder
              display none


    & .prod__bt-comprar.agrupado
      display flex
      flex-flow row wrap
      @media(max-width screen-xs)
        flex-flow column
        align-items center

      & .add-to-cart-btn
        margin 0

    & .prod__bt-comprar
      & .look-title
        font-family $font-family_1
        font-size 14px
        text-transform uppercase
        font-weight normal
        display flex
        align-items center
        flex 0 0 35%
        margin-bottom 1rem

      & .prod__price
        flex 0 0 50%
        margin 0
        padding-left 80px
        @media(max-width screen-xs)
          flex 0 0 auto 
          padding 0
          text-align center

      & .add-to-cart
        flex 1 1 auto

      & .qty-wrapper
        left 0

        & .input-box
          & input
            box-shadow none
            border-radius 0
            border 1px solid #e2e2e2
            background none
            font-family $font-family_1
            font-size $font-medium
            line-height 1.2em
            font-weight 400
            color #b5b5b5

        & .bt-box
          height 44px
          right -20px
          border-radius 0
          box-shadow none
          border 1px solid #e2e2e2

          & .bt
            width 19px
            height 21px
            border-radius 0
            user-select none

            &:before
              display none

            & span 
              display block
              font-size 18px
              line-height 1.2em
              color #b5b5b5

            &:hover span
              color #fff
          
          & .bt.plus
            border-bottom 1px solid #e5e5e5

          & .bt.less span
            line-height 1em

      & .add-to-cart-btn
        width calc(100% - 85px)
        height 44px
        font-family $font-family_1
        font-size $font-medium
        line-height normal
        text-transform uppercase
        font-weight 400
        letter-spacing .5px
        background unquote($color2_bg)
        box-shadow none
        color #ffffff
        padding 0
        margin 0 0 0 auto
        border-radius 0
        @media(max-width screen-xs)
          width 285px

      & .prod__esgotado
        background none

        & .title
          margin 0

    & .prod__esgotado
      background none
      box-shadow none
      padding 0

      & .title
        font-family $font-family_1
        font-size $font-medium
        line-height 1.2em
        color unquote($color1_bg)
        margin-bottom 5px

      & .alert-stock
        & a
          font-family $font-family_1
          font-size $font-regular
          line-height 1.2em
          text-decoration underline
          color #626262

/*
 * Listagem de produtos - (Catálogo)
 * ------------- */

.catalog-category-view
  & .main
    flex-flow column nowrap

  & .page-title, .toolbar
    display none

  & .col-main
    margin-top 60px

  & .sidebar
    max-width none
    width 100%
    position absolute
    top 0
    left auto
    right auto

    & .filters
      & .title
        display none
      
      & .filters__list
        display flex
        justify-content space-between
        width 100%

        & .filter__open
          height: 100%!important;

        & .filters__filter
          width 330px
          height 45px
          overflow hidden
          position relative
          cursor pointer
          @media(max-width 1024px)
            margin 0 10px 16px

          &:after
            content "\f0dd"
            display flex
            justify-content center
            align-items center
            position absolute
            height 45px
            top -5px
            right 16px
            font-family 'biz_icons', sans-serif
            speak none
            font-style normal
            font-weight normal
            font-variant normal
            text-transform none
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale

  & .product__header
    & .active-img
      width 260px
      height 260px

  & .product__main
    & .prod__price
      margin 0 auto
      @media(max-width screen-xs)
        text-align center

      & .label
        display none
      
      & .price-box
        & .price
          font-family $font-family_1
          font-size $font-regular
          line-height 1.2em
          font-weight 400
          color #9a9a9a
          text-decoration line-through

      & .price-box-avista
        & .price
          color unquote($color2_bg)

          & span
            font-size 17px

      & .price-box, .price-box-avista
        display inline-block
        margin-bottom 3px

/*
 * Carrinho
 * ------------- */
.checkout-cart-index
  & .breadcrumb, .messages, .page-title
    display none

  & .cart-table
    & header 
      background #ececec
      color #969696
      text-transform capitalize
      border 1px solid #dedede
      @media(max-width screen-md)
        display none

      & span.cart-price-head:nth-of-type(2n)
        display none

      & span.cart-product-head
        flex 1 1 35%
        order 1
      
      & span.cart-price-head
        order 3

      & span.cart-qty-head
        order 2

      & span.cart-total-head
        order 4

    & main
      border 1px solid #ececec
      @media(max-width screen-sm)
        border-left none 
        border-right none

      & .cart-product-line
        position relative
        flex-flow row nowrap

      & .product-cart-image
        flex 1 1 35%
        order 1
        @media(max-width screen-sm)
          display flex
          align-items center
          flex 0 0 55%
          padding 16px 0

        & .product-image
          @media(max-width screen-xs)
            flex 0 0 70px
        
        & .product-info
          @media(max-width screen-sm)
            height inherit

          & h2.name
            font-family $font-family_1
            font-size $font-small
            line-height 1.2em
            text-transform uppercase
            color #626262

          & .sku
            display none 

          & .item-options
            display none

        & .btn-remove
          margin-left 0
          margin-right 25%
          @media(max-width screen-sm)
            margin-right 0
          
          @media(max-width screen-xs)
            position absolute
            top -10px
            left -10px

          &:hover
            background none
          
          &:before
            content ""
            display block
            background url(/media/interface/images/close-icon.png)
            background-repeat no-repeat
            background-position center
            background-size contain
            width 1.06rem
            height 1.06rem

      & .column-change-product
        display none

      & .product-cart-price
        order 3

      & .product-cart-actions
        order 2

        & .qty-wrapper
          left 0

          & .input-box
            & input
              box-shadow none
              border-radius 0
              border 1px solid #e2e2e2
              background none
              font-family $font-family_1
              font-size $font-medium
              line-height 1.2em
              font-weight 400
              color #b5b5b5

        & .bt-box
          height 44px
          right -20px
          border-radius 0
          box-shadow none
          border 1px solid #e2e2e2

          & .bt
            width 19px
            height 21px
            border-radius 0
            user-select none
            background none

            &:before
              display none

            & span 
              display block
              font-size 18px
              line-height 1.2em
              color #b5b5b5

            &:hover span
              background #b5b5b5
              color #fff
          
          & .bt.plus
            border-bottom 1px solid #e5e5e5

          & .bt.less span
            line-height 1.2em

      & .product-cart-total
        order 4

    & footer 
      display none

  & .subtotal-footer
    @media(max-width screen-sm)
      margin 0 -1rem

    & .title
      display none
    
    & .totals__table
      & tbody
        & tr
          display flex
          justify-content flex-end
          max-width 1240px
          margin 0 auto
          @media(max-width 1024px)
            justify-content space-between

          & td
            flex 0 0 265px
            text-align center
            @media(max-width screen-sm)
              flex 0 0 auto

      & tfoot
        display none
  & .cart__boxes
    margin 0
    @media(max-width screen-sm)
      display flex
      flex-flow column nowrap
      margin 0 -1rem

    & .coupon, .shipping
      display flex
      justify-content space-evenly
      align-items center
      padding 1.6rem 1rem
      @media(max-width screen-sm)
        flex 1 1 auto
        flex-flow column

      & input 
        box-shadow none
        border-radius 0

        &::placeholder
          font-size 0

      & .btn
        font-size 14px
        line-height 1.2em
        text-transform uppercase
        letter-spacing 1px
        color unquote($color2_font)
        border-radius 0
        box-shadow none
        padding 14px

      & .title
        font-size $font-regular
        line-height 1.2em
        font-weight 600
        height 1.2em
        color #626262
        margin 0
        @media(max-width screen-sm)
          margin-bottom 15px

      & .shipping__form
        margin 0

        & label 
          display none

  & .cart__links
    padding 2rem
    border-bottom 1px solid #dedede
    border-left 1px solid #dedede
    border-right 1px solid #dedede
    margin: 0 -1px
    @media(max-width screen-sm)
      flex-flow column
      margin 0 -1rem
      border-left none 
      border-right none

    & .btn-continue
      font-size 15px
      line-height 1.2em
      text-transform uppercase
      letter-spacing 1px
      background #f1f1f1
      color #626262
      box-shadow none
      border-radius 0
      padding 13px 35px
      @media(max-width screen-xs)
        width 100%
        margin-bottom 25px

      &:hover
        background #b5b5b5
        color #fbfbfb

    & .btn-proceed-checkout
      font-size 15px
      line-height 1.2em
      text-transform uppercase
      letter-spacing 1px
      background unquote($color2_bg)
      color unquote($color2_font)
      box-shadow none
      border-radius 0
      padding 13px 35px
      @media(max-width screen-xs)
        width 100%

/*
* Theme
* Customização de components ou layout, hacks !importants e etc
*/